<%= form_for @post do |p| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= p.text_area :text, class: "form-control", rows: 10 %>
    </p>
 
    <p> 
        <%= p.submit "Here is my Post", :class => "btn btn-default" %>
    </p>
<% end %>
