<div class="posts">

<% @posts.each do |p| %>

<article>
<div class="post">
  <div class="post-body"><%= p.text %></div>
  <div class="post-controls"> 
    <span><%= link_to 'Show', post_path(p) %></span>
    <span><%= link_to 'Edit', edit_post_path(p) %></span>
    <span><%= link_to 'Destroy', post_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
</article>

<% end %>

</div>
