
$indents: 10;
$indent_step: 30px;

.comment {
    padding-left: $indents * $indent_step;
    margin: 5px;
}

.comment .comment-body {
    white-space: pre-wrap;
    font-size: medium;
}

.comment .comment-alt {
    padding-left: 5px;    
}

.comment .comment-alt .comment-note {
  color: #A4A4A4;
  font-style: italic;
}

.comments {
  padding-top: 30px;
  padding-bottom: 20px;
}

@for $i from 0 through $indents { 
    .indent_#{$i} {
        padding-left: $i * $indent_step; 
    }
}


